.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 50px;
        padding-top: 10px;
    }

    .container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .item {
            width: 600px;
            height: 300px;
            border-radius: 10px;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all 1s ease;

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                
                h3 {
                    text-decoration: underline;
                    color: white;
                    padding-bottom: 25px;
                    font-size: 40px;
                }

                a {
                    text-decoration: none;
                    color: white;
                    padding-bottom: 10px;
                    font-size: 25px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                z-index: 1;
                object-fit: cover;
            }

            &:hover {
                background-color: gray;
                display: flex;
                flex-direction: column;
                img {
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}