.about {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .arrow {
        height: 70px;
        position: absolute;

        &.left {
            left: 100px;
            cursor: pointer;
        }

        &.right {
            right: 100px;
            cursor: pointer;
        }
    }

    .slider {
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 50%;
                background-color: white;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h2, p {
                        margin: 10px;
                    }
                    p {
                        line-height: 20px;
                    }
                }

                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    
                    img {
                        width: 400px;
                        transform: rotate(-5deg);
                    }
                }
            }
        }
    }
}