.about {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .slider {
        display: flex;
        position: absolute;
        left: 0;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 50%;
                background-color: white;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}