.App {
    height: 100vh;

    .container {
        width: 100%;
        height: calc(100vh - 65px);
        position: relative;
        background-color: #1b1b3a;
        color: white;

        > * {
            width: 100vw;
            height: calc(100vh - 65px);
        }
    }
}