.App {
    height: 100vh;

    .container {
        width: 100%;
        height: calc(100vh - 65px);
        position: relative;

        > * {
            width: 100vw;
            height: calc(100vh - 65px);
        }
    }
}