.header {
    width: 100%;
    height: 65px;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #b2b09b;

    a {
        text-decoration: none;
        color: white;
        font-size: 27px;
        padding: 15px;
    }

    .wrapper {
        nav {
            display: flex;

            a {
                text-decoration: none;
                color: white;
                font-size: 27px;
            }
            ul {
                display: flex;

                li {
                    list-style: none;
                    padding: 15px;
                }
            }   
        }
    }
}